body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #121212;
    color: #777575;
    padding: 20px;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
}

.sort-options {
    width: 200px;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.sort-options h3 {
    color: #777575;
}

.sort-options input {
    margin-right: 10px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    border: 1px solid #444;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.card img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 5px;
}

.card h2, .card p {
    color: #777575;
    margin: 0;
    padding: 5px 0;
}

.card button {
    background-color: #4caf50;
    color: #121212;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.card button:hover {
    background-color: #76ff03;
    color: #000;
}
button:disabled {
    background-color: grey;
    color: white;
}